footer.footer
    .left
        h2.text-white.my-1 Burger
        p.text-1 &copy; Copyright 2022 - UyFood - All Right Reserved.
    .right
        h4.text-white.my-1 Follow on social
        ul.redsocial
            li
                a(href="#")
                    a.fab.fa-facebook
            li
                a(href="#")
                    a.fab.fa-instagram
            li
                a(href="#")
                    a.fab.fa-twitter
            li
                a(href="#")
                    a.fab.fa-youtube
        

