header.header
    nav.navbar
        // Logo
        a(href="index.html").nav-logo
            img.logo(src="img/logo-burguer.png", alt="Logo Burguer")

        // Menu
        ul.nav
            li.nav-item
                a.nav-link(href="#") Inicio
            li.nav-item
                a.nav-link(href="#") Menú
            li.nav-item
                a.nav-link(href="#") Delivery
            li.nav-item
                a.nav-link(href="#") Nosotros
