// Productos
section.py-5
    .container
        h2.heading-1.text-center.text-brown Nuestro Menú
        h3.sub-title-1.text-center.text-gray-dark.my-1 Burger - Sandwich - Drinks


        .gallery
            .card
                img(src="img/burguer-1.png", alt="").card-img
                .card-caption
                    h4.caption-title The Queen
                    p.caption-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    P.caption-price
                        i.fas.fa-dollar-sign 
                        | 15.000
            .card
                img(src="img/burguer-2.png", alt="").card-img
                .card-caption
                    h4.caption-title The Princess
                    p.caption-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    P.caption-price
                        i.fas.fa-dollar-sign 
                        | 18.000
            .card
                img(src="img/burguer-3.png", alt="").card-img
                .card-caption
                    h4.caption-title The Noble
                    p.caption-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    P.caption-price
                        i.fas.fa-dollar-sign 
                        | 12.000
            .card
                img(src="img/burguer-4.png", alt="").card-img
                .card-caption
                    h4.caption-title Chiken
                    p.caption-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    P.caption-price
                        i.fas.fa-dollar-sign 
                        | 12.000
            .card
                img(src="img/burguer-5.png", alt="").card-img
                .card-caption
                    h4.caption-title Meat
                    p.caption-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    P.caption-price
                        i.fas.fa-dollar-sign 
                        | 16.000

            .card
                img(src="img/papas.png", alt="").card-img
                .card-caption
                    h4.caption-title Chips
                    p.caption-text Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    P.caption-price
                        i.fas.fa-dollar-sign 
                        | 4.000